body {
  background-image: url("Bolly.webp");
  background-size: cover;
}

  #password-popup {
    display: inline;
    width: 300px;
    height: 142px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h2 {
    font-size: 1.2rem;
    margin-top: 0;
  }

  input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
  }

  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
  }

  button:hover {
    background-color: #3e8e41;
  }
  @media only screen and (max-width: 600px) {
    #password-popup {
      width: 75%;
      height: auto;
    }
    h2{
       white-space:unset;
    }
  }

  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .loading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid #ccc;
    border-top-color: #555;
    animation: spin 1s ease-in-out infinite;
    margin-bottom: 10px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  